{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <br>
    <form method="POST" action="/">
      <h2>Select which room to join</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.room_selection) }}
      {{ wtf.form_field(form.room_custom) }}
      <h2>Select which players to sync</h2>
      {{ wtf.form_field(form.session_id) }}
      {{ wtf.form_field(form.submit_room) }}
      {{ wtf.form_field(form.submit_leader) }}
      {{ wtf.form_field(form.submit_clear) }}
      {{ wtf.form_field(form.submit_clear_all) }}
    </form>
        <h2>Tips:</h2>
        <p>1) Chromecasts are unable to follow. but may lead.  However, you can have whatever device is casting to the chromecast follow, as a workaround
        <p>2) Followers taking longer than 10 or so seconds to load will need to reduce quality
        <p>3) Sessions offline more than 30 minutes will leave sync.  You may log out of Emby Sync to do this immediately.
        <p>4) Due to the nature of Emby, sync precision can not be more precise than 2 seconds or so in either direction.
        <p>5) Having multiple Emby windows open in the same browser causes issues.  Use Incognito mode to test multiple players at once.
        <p>6) Chrome Emby webplayer and the Android app have been tested as followers.
        <p>7) Many devices are completely untested.  If you experience issues (repeated unpausing during sync etc), please open an issue on <a href="https://github.com/cameronurnes/emby-sync/issues">Github Issues</a></p>
{% endblock %}
